
.playlistModal-createDiv {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 111px;
}
.playlistTrackTittle {
  font-size: 24px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
}
.playlistArtistName {
  font-weight: 400;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
}
.childrenContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
}
.playlistModal-title {
  color: white;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 20px;
  top: 288px;
}
.childrenContainer:hover {
  cursor: pointer;
}

.secondHeader {
  margin-top: 110px;
  margin-bottom: 40px;
}

.createPlaylistButton {
  background-color: #da2060;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  padding: 10px 40px;
  outline: none;
  border: none;
}
.createPlaylist {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
}
.addPlaylistModal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
}
.addPlaylistForm {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.addPlaylistForm input {
  width: 500px;
  font-size: 18px;
  padding: 20px;
  margin-top: 20px;
  outline: none;
}
.addplaylistHeader {
  margin-bottom: 50px;
}
.addPlaylistButton {
  margin-top: 50px;
}
.addPlaylistForm input:valid {
  border: 2px solid #da2060;
}
.musicPlayer {
  visibility: hidden;
}
.deleteAlert {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #da2060;
  text-align: center;
  z-index: 1005;
  padding-top: 10px;
  padding-bottom: 5px;
}
.topArtistsContainer {
  display: grid;
  grid-template-columns: 300px 150px 300px;
  gap: 120px;
  justify-content: center;
}
.spinnerModal {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.header{
  font-size: 32px;
}
.closeImg:hover{
  cursor: pointer;
}
@media only screen and (max-width: 1100px) {
  .topArtistsContainer {
    grid-template-columns: 300px 150px;
  }
}
@media only screen and (max-width: 680px) {
  .topArtistsContainer {
    gap: 50px;
  }
  .topArtistsContainer {
    grid-template-columns: 200px 150px;
  }
.playlistModal-title {
  font-size: 16px;
}
.playlistModal-createDiv {
  margin-left: 5%;
}
.loading span{
  font-size: 12px;
}
.lds-facebook {
  width: 80px;
  height: 60px;
}
.lds-facebook div {
  width: 8px;
}
}
@media only screen and (max-width: 490px) {
  .topArtistsContainer {
    grid-template-columns: 250px;

  }
  .header{
    font-size: 20px;
  }
}
@media only screen and (max-width: 350px) {
  .artistsBody {
    margin-left: 0;
    margin-right: 0;
  }
  
}