
.playlistModal{
  position: fixed;
  height: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  overflow-y: auto;
  z-index: 5;
}

.playlistModal-content{
  width: 1086px;
  background: #000000;
  position: absolute;
  top: 120px;
  min-height: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding-bottom: 100px;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: calc(100vh - 210px);
}

.playlistModal-header{
  font-size: 40px;
  top: 279px;
  color: white
}
.playlistModal-title, .playlistModal-body{
  color: white;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}



.playlistModal-content::-webkit-scrollbar { width: 0 !important }
.hideScrollbar::-webkit-scrollbar { width: 0 !important }


.playlistModal-content{ overflow: -moz-scrollbars-none; }
.hideScrollbar{ overflow: -moz-scrollbars-none; }


.playlistModal-content{ -ms-overflow-style: none; }
.hideScrollbar{ -ms-overflow-style: none; }

.playlistModal::-webkit-scrollbar { width: 0 !important }
.hideScrollbar::-webkit-scrollbar { width: 0 !important }


.playlistModal{ overflow: -moz-scrollbars-none; }
.hideScrollbar{ overflow: -moz-scrollbars-none; }


.playlistModal{ -ms-overflow-style: none; }
.hideScrollbar{ -ms-overflow-style: none; }