.navBar {
  color: white;
  display: flex;
  flex-direction: row;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: space-between;
  padding: 20px 80px;
}
.navBarButton {
  background-color: #da2060;
  border-radius: 10px;
  padding: 15px 45px;
  color: white;
  font-weight: 700;
  outline: none;
  border: none;
  font-size: 16px;
}
.navBar-links {
  display: flex;
  flex-direction: row;
  font-weight: 700;
  font-size: 16px;
  gap: 100px;
  align-items: center;
  list-style: none;
}
.navBar-links li:hover {
  cursor: pointer;
}
.logoDiv {
  position: relative;
}
.logo {
  position: absolute;
  left: 22px;
  top: 10px;
  width: 98.67px;
}
.share {
  margin-right: 10px;
}
.modal {
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 3;
  width: 100%;
  height: 100%;
}
.about-modal {
  background-color: #000000;
  position: absolute;
  max-width: 405px;
  width: 100%;
  /* height: 243px; */
  right: 30%;
  top: 136px;
  border-radius: 15px;
  padding: 10px 10px;
}
.share-modal {
  position: absolute;
  max-width: 385px;
  width: 100%;
  /* height: 219px; */
  right: 5%;
  padding: 10px 10px;
  top: 129px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000000;
  gap: 10px;
}
.socialRow {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.modal h2 {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin-bottom: 5px;
}
.modal p {
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 20px;
  padding-left: 5px;
}
.socialRowImg {
  width: 94px;
}
.socialRowImg:hover {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: white;
}
.copied {
  font-size: 14px;
  color: #da2060 !important;
}

@media screen and (max-width: 900px) {
  .navBar-links {
    gap: 50px;
  }
  .navBar {
    padding: 20px 40px;
  }
}
@media screen and (max-width: 700px) {
  .navBarButton {
    padding: 10px 20px;
  }
  .navBar-links {
    gap: 20px;
  }
  .about-modal{
    right: 10%;
    max-width: 250px;
  }
.share-modal {
  right: 10%;
  max-width: 250px;
}
}


@media screen and (max-width: 570px) {
  .deezify-logo {
    width: 50px; 
     }
     .navBar h2{
       display: flex;
     }
}

@media only screen and (max-width: 500px) {
  .navBar {
    padding: 20px 20px;
  }

  .share {
    margin-right: 5px;
  }

   }

 @media only screen and (max-width: 400px) {
    .navBar-links {
      gap: 10px;
    }
     }