.introContainer {
  display: flex;
  flex-direction: row;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 50px;
  padding-bottom: 120px;
  margin-top: 100px;
}
.introContainer h2 {
  font-size: 65px;
  line-height: 80px;
  margin-bottom: 40px;
}
.introContainer p {
  font-size: 36px;
  line-height: 41px;
}
img {
  width: 100%;
  object-fit: contain;
}
.picStack {
  position: relative;
  z-index: 2;
}
.drizzy {
  max-width: 295px;
  width: 100%;
}
.jb {
  position: absolute;
  bottom: -120px;
  left: 210px;
  max-width: 350px;
  width: 100%;
}
.introButton {
  background-color: #da2060;
  color: #ffffff;
  font-size: 16px;
  border-radius: 10px;
  padding: 15px 65px;
  outline: none;
  border: none;
  font-weight: 700;
  margin-top: 50px;
}
.introText {
  max-width: 552px;
  width: 100%;
  margin-right: 45px;
  z-index: 2;
}
.leftCircle {
  position: absolute;
  width: 300px;
  left: 0;
  top: 130px;
  z-index: 0;
}
.rightCircle {
  position: absolute;
  width: 330px;
  right: 0;
  top: 600px;
}
.mobDiv {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  display: none;
}
.mobDiv img {
  width: 100%;
  object-fit: contain;
}
.mobDiv p {
  width: 243px;
  color: #ffffff;
  font-size: 16px;
}
.comingSoon {
  width: 330px;
  margin-bottom: 26px;
}
/* .artistFrame {
  width: 382px;
  margin-top: 65px;
} */

/* @media screen and (max-width: 1240px) {
  .introContainer {
    display: none;
  }
  .mobDiv {
    display: flex;
  }
} */

 @media screen and (max-width: 1190px) {

  .introContainer {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding-left: 50px;
    padding-bottom: 120px;
    margin-top: 40px;
  }

  .picStack {
    display: flex;
   flex-direction: row;
   gap: 40px;
   margin-top: 40px;
  }
  .jb {
    position: relative;
    bottom: 0;
    left: 0;
    max-width: 350px;
    height: 200px;
    width: 100%;
  }
  .drizzy {
    max-width: 350px;
    width: 100%;
    height: 200px;
  }
 }


 @media screen and (max-width: 700px) {
  .introContainer h2 {
    font-size: 32px;
    margin-bottom: 0;

  }
  .introContainer p {
    font-size: 18px;
    line-height: 30px;

  }

  .introButton {
    padding: 15px 40px
  }

}

@media only screen and (max-width: 680px){
  .intro-login-btn{
    display: none;
  }
  .mobDiv{
    display: flex;
  }
}


@media screen and (max-width: 570px) {
  .picStack {
   gap: 20px;
  }

  .jb {
    max-width: 150px;
    height: 100px;
  }
  .drizzy {
    max-width: 150px;
    height: 100px;
  }
  .introContainer h2 {
    line-height: 40px;
  }
  .introContainer h2 {
    font-size: 20px;
    margin-bottom: 0;

  }
  .introContainer p {
    font-size: 14px;
    line-height: 30px;

  }

}