.introContainer{
    display: flex;
    flex-direction: row;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 50px;
    padding-bottom: 120px;
    margin-top: 40px;
}
.introContainer h2 {
    font-size: 65px;
line-height: 80px;
margin-bottom: 40px;
}
.introContainer p{
    font-size: 36px;
line-height: 41px;
}
img{
    width: 100%;
    object-fit: contain;
}
.picStack{
    position: relative;
    z-index: 2;
}
.drizzy{
    width: 295px;
}

.jb{
    position: absolute;
    bottom: -120px;
    left: 210px;
    width: 350px;
}
.introButton{
   background-color: #DA2060;
   color: #ffffff;
   font-size: 16px;
   border-radius: 10px;
   padding: 15px 65px;
   outline: none;
    border: none;
    font-weight: 700;
    margin-top: 50px;
}
.introText{
    max-width: 552px;
    margin-right: 45px;
    z-index: 2;
}


.leftCircle{
    position: absolute;
    width: 300px;
   
    left: 0;
    top: 130px;
    z-index: 0;
}

.rightCircle{
    position: absolute;
width: 330px;

right: 0;
top: 600px;

}
