.loggedNavBar {
    color: white;
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-between;
    padding: 45px 80px;
    padding-right: 190px;
  }
  
  .navLink {
    padding-bottom: 11px;
    border-bottom: 4px solid #000000;
  }
  .loggedNavBar-links {
    display: flex;
    flex-direction: row;
    font-weight: 700;
    font-size: 21px;
    gap: 100px;
    align-items: center;
    list-style: none;
  }
  .loggedNavBar-links li:hover {
    cursor: pointer;
  }
  
  .is-active {
    color: #da2060;
    border-bottom: 4px solid #da2060;
  }
  
  .loggedLogoDiv {
    position: relative;
  }
  .loggedLogo {
    position: absolute;
    left: 22px;
    top: 10px;
    width: 98.67px;
  }
  .user {
    width: 34px;
  }
  .userImg {
    border-radius: 50%;
    padding-bottom: 8px;
  }
  .accountModal {
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 3;
    width: 100%;
    height: 100%;
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
  }
  
  .modal-content {
    background-color: #000000;
    position: absolute;
    width: 399px;
    height: 272px;
    right: 80px;
    top: 129px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 40px;
    padding-bottom: 40px;
  }
  .modal-content div:hover {
    cursor: pointer;
  }
  .dropdownDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 6px;
    align-items: center;
  }
  
  .settings {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .dropdownDiv .userImg {
    width: 52px;
  }
  .settings img {
    width: 30px;
  }
  .userIcon {
    font-size: 30px;
  }
  
  .closeImg {
    width: 38px;
  }
  .closeBtn {
    margin-right: 56px;
  
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .closeContainer {
    width: 38px;
  }
  
  .feedbackModal-title {
    color: white;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 36px;
    font-weight: 700;
    top: 288px;
  }
  .feedBackText {
    color: white;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 66px;
  }
  label {
    color: white;
    font-size: 24px;
    font-weight: 700;
  }
  
  .inputDiv input,
  .inputDiv textarea {
    background-color: #c4c4c4;
    padding: 11px 31px 12px;
    color: #181818;
    font-size: 21px;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 18px;
    margin-top: 20px;
  }
  #email,
  #feedback {
    margin-top: 20px;
  }
  
  .userInfo {
    width: 720px;
    height: 22px;
  }
  .inputDiv {
    margin-left: 177px;
  }
  .inputGroup {
    margin-bottom: 28px;
  }
  #feedback {
    min-height: 333px;
    border: 1px solid #ff0303;
  }
  .buttonDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 6px;
  }
  .feedbackButton {
    font-size: 16px;
    font-weight: 700;
    background: #da2060;
    border-radius: 10px;
    padding: 14px 132px;
    color: #ffffff;
    outline: none;
    border-color: #da2060;
  }
  
  .autoplayDiv {
    margin-left: 18px;
  }
  .error {
    color: #ff0303;
    padding-left: 10px;
    font-size: 21px;
    font-family: "Open Sans", sans-serif;
  
  }
  .feedbackClass {
    font-size: 18px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
  
  .feedbackClass p {
    width: 533px;
    text-align: center;
  }
  .feedbackClass p:nth-of-type(1) {
    margin-bottom: 20px;
    margin-top: 56px;
  }
  #email {
    border: 1px solid #ff0303;
  }
  