.artistsContainer {
  color: white;
}
.header {
  font-weight: 500;
  font-size: 32px;
  margin-bottom: 30px;
  padding-left: 40px;
}
.secondHeader {
  margin-top: 60px;
}
.artistsBody {
  margin-left: 5%;
  margin-right: 5%;
}
.topArtistsContainer {
  display: grid;
  grid-template-columns: 601px 393.03px;
  gap: 120px;
}
.artistImgContainer {
  position: relative;
}
.artistImgContainer img {
  border-radius: 20px 20px 0 0;
}
.artistNameDiv {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
  border-radius: 0 0 20px 20px;
  background-color: #121212;
}
.albumCover {
  position: absolute;
  width: 43%;
  bottom: 0;
  z-index: 2;
  right: -10%;
  font-size: 10px;
  /* font-weight: 700; */
  text-align: center;
}
.albumName {
  background-color: #121212;
  border-radius: 0 0 20px 20px;
}
img {
  width: 100%;
  object-fit: cover;
}



@media only screen and (max-width: 1100px) {
  .topArtistsContainer {
    grid-template-columns: 300px 150px;

  }
}
@media only screen and (max-width: 680px) {
  .topArtistsContainer {
    gap: 50px;
  }
  .topArtistsContainer {
    grid-template-columns: 200px 150px;

  }
  .lds-facebook {
    width: 80px;
    height: 60px;
  }
  .lds-facebook div {
    width: 8px;
  }
}

@media only screen and (max-width: 490px) {
  .topArtistsContainer {
    grid-template-columns: 250px;

  }
  .header{
    font-size: 20px;
  }
}

@media only screen and (max-width: 350px) {
  .artistsBody {
    margin-left: 0;
    margin-right: 0;
  }
}