
.slideDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
.slideDiv:hover {
  cursor: pointer;
}
.parentSlide {
  position: relative;
    height: 401px;
  /* height: 631px; */
  margin-top: 115px;
}
.recommendedAlbumsContainer {
  transform: translateY(-100%);
}
.carouselContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.bgPic {
  object-fit: cover;
}
.bgPicDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  min-width: 100vw;
}
.newAlbumTittle {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  align-items: center;
  position: absolute;
  top: 57px;
}
.albumGrid {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: 261px;
}
.albumGrid img{
  width: 50%;
}
.newAlbumIntro {
  font-size: 30px;
  font-weight: 700;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  width: 303px;
  margin-bottom: 10px;
}
.newAlbumArtist {
  font-size: 60px;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}
.albumTitle {
  color: #ffffff;
  font-size: 70%;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  background: #121212;
  width: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.albumFrame {
  margin-top: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}


@media only screen and (max-width: 680px) {

  .lds-facebook {
    width: 80px;
    height: 60px;
  }
  .lds-facebook div {
    width: 8px;
  }
}